%p
  Thank you for your order

%table{border: 1, cellspacing: 0, cellpadding: 2}
  %tr
    %th Item
    %th Format
    %th Price
    %th Qty
    %th Total
  -@order.order_items.each do |item|
    %tr
      %td=item.product.title
      %td=item.format.title
      %td.field=number_to_currency(item.gross_price)
      %td.field=item.quantity
      %td.field=number_to_currency(item.gross_total)
  %tr
    %td.field{colspan: 4}
      %b Order Total
    %td.field
      %b=number_to_currency(@order.gross_total)
%br/
%br/
%table{border: 1, cellspacing: 0, cellpadding: 2}
  %tr
    %td Name:
    %td
      %b= @order.name
  %tr
    %td School name:
    %td
      %b= @order.school_name
  %tr
    %td Address:
    %td
      %b= @order.address_line_1
      %br/
      %b= @order.address_line_2
      %br/
      %b= @order.address_line_3
      %br/
      %b= @order.address_line_4
  %tr
    %td Post code:
    %td
      %b= @order.post_code
  %tr
    %td Email address:
    %td
      %b= @order.email_address
  %tr
    %td Telephone:
    %td
      %b= @order.telephone
  %tr
    %td Reference:
    %td
      %b= @order.reference
  %tr
    %td{colspan: 2} Comments:
  %tr
    %td{colspan: 2}
      %b= @order.comments
