-@title = 'Samples'

%h1 Audio Track Samples
%p Click the buttons below to hear a 30 second sound sample of each track

- first_song = @songs.first.id

%audio#player{controls: 'none', preload: 'none'}
  %source{src: "audios/#{first_song}.mp3", type: 'audio/mpeg'}
  %source{src: "audios/#{first_song}.ogg", type: 'audio/ogg'}
    xxxx

%table
  - @songs.each do |song|
    %tr
      %td
        = button_tag('Play',
                       type: 'button',
                       data: {ogg: "audios/#{song.id}.ogg",
                             mp3: "audios/#{song.id}.mp3",
                             playing: 'n'},
                        class: 'play_button') do
          = image_tag asset_path('control-play.gif')
      %td
        %b=song.title
        %i (#{song.product.title})
