= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :school_name
    = f.text_field :school_name
  .field
    = f.label :address_line_1
    = f.text_field :address_line_1
  .field
    = f.label :address_line_2
    = f.text_field :address_line_2
  .field
    = f.label :address_line_3
    = f.text_field :address_line_3
  .field
    = f.label :address_line_4
    = f.text_field :address_line_4
  .field
    = f.label :post_code
    = f.text_field :post_code
  .field
    = f.label :email_address
    = f.text_field :email_address
  .field
    = f.label :telephone
    = f.text_field :telephone
  .field
    = f.label :reference
    = f.text_field :reference
  .field
    = f.label :comments
    = f.text_area :comments
  .actions
    = f.submit 'Save'
