= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2
        #{pluralize(@order.errors.count, 'error')} prohibited this order from being submitted:
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg
  %table
    - @products.each do |product|
      %tr
        %th=product.title
      - product.format_products.each_with_index do |fp, i|
        %tr
          %td
            =fp.format.title
            =hidden_field_tag 'format_product_id[]', fp.id
          %td.field
            =number_to_currency(fp.gross_price)
          %td{data: {price: fp.price, vat: fp.vat}}
            =select_tag 'format_product[]', options_for_select((0..10))
          %td.field
            =number_to_currency(0)
    %tr
      %td.field{colspan: 3}
        %b Net Total
      %td.field#net_total=number_to_currency(0)
    %tr
      %td.field{colspan: 3}
        %b VAT
      %td.field#vat_total=number_to_currency(0)
    %tr
      %td.field{colspan: 3}
        %b Order Total
      %td.field#gross_total=number_to_currency(0)
  %hr
  %table
    %tr
      %td{colspan: 2}
        %b Plaese enter your contact details
    %tr
      %td= f.label :name
      %td= f.text_field :name
    %tr
      %td= f.label :school_name
      %td= f.text_field :school_name
    %tr
      %td= f.label :address_line_1
      %td= f.text_field :address_line_1
    %tr
      %td= f.label :address_line_2
      %td= f.text_field :address_line_2
    %tr
      %td= f.label :address_line_3
      %td= f.text_field :address_line_3
    %tr
      %td= f.label :address_line_4
      %td= f.text_field :address_line_4
    %tr
      %td= f.label :post_code
      %td= f.text_field :post_code
    %tr
      %td= f.label :email_address
      %td= f.text_field :email_address
    %tr
      %td= f.label :email_address_confirmation
      %td= f.text_field :email_address_confirmation
    %tr
      %td= f.label :telephone
      %td= f.text_field :telephone
    %tr
      %td= f.label :reference
      %td= f.text_field :reference
    %tr
      %td{colspan: 2}= f.label :comments
    %tr
      %td
      %td= f.text_area :comments
    %tr
      %td{colspan: 2}= f.submit 'Submit order'
