-@title = 'Order'

%h1 Order Form
%p
  your order form is now complete, please print this page and post it
  together with a cheque for #{number_to_currency(@order.gross_total)}
  made payable to Music Bee Ltd to the following address:
%p
  Parkview
  %br/
  %b 1 School Road
  %br/
  %b Blackmore End
  %br/
  %b Nr Braintree
  %br/
  %b Essex CM7 4DN
  %br/
  %b VAT No. 761232944
  %br/
  %br/
  If you have any questions about this order you can call us on
  01371-851164 or 07950-645197
%table
  %tr
    %th Item
    %th Format
    %th Price
    %th Qty
    %th Total
  -@order.order_items.each do |item|
    %tr
      %td=item.product.title
      %td=item.format.title
      %td.field=number_to_currency(item.gross_price)
      %td.field=item.quantity
      %td.field=number_to_currency(item.gross_total)
  %tr
    %td.field{colspan: 4}
      %b Net Total
    %td.field
      %b=number_to_currency(@order.net_total)
  %tr
    %td.field{colspan: 4}
      %b VAT
    %td.field
      %b=number_to_currency(@order.vat_total)
  %tr
    %td.field{colspan: 4}
      %b Gross Total
    %td.field
      %b=number_to_currency(@order.gross_total)
%p
  %b Name:
  = @order.name
%p
  %b School name:
  = @order.school_name
%p
  %b Address line 1:
  = @order.address_line_1
%p
  %b Address line 2:
  = @order.address_line_2
%p
  %b Address line 3:
  = @order.address_line_3
%p
  %b Address line 4:
  = @order.address_line_4
%p
  %b Post code:
  = @order.post_code
%p
  %b Email address:
  = @order.email_address
%p
  %b Telephone:
  = @order.telephone
%p
  %b Reference:
  = @order.reference
%p
  %b Comments:
  = @order.comments
