<% @title = 'Products' %>
<div id="product_image">
  <%= image_tag(image_path(@product.image_url),
                alt: "#{@product.title} cover",
                class: 'cover_image',
                title: "#{@product.title} cover",
                size: '190x265'
                ) %>
</div>
<div id="product_desc">
  <h1>
    <%= @product.title %>
  </h1>
  <p>
    <b>Description:</b>
    <%= @product.description %>
  </p>
  <p>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Continue shopping', root_path %>
  </p>
</div>
<div id="product_payment">
  <h3>Buy Now</h3>
  <p>Select From These Formats:</p>
  <%= form_tag '/line_items' do %>

    <% @product.format_products.order('price DESC').each do |format_product| %>
      <% title = format_product.format.title %>
      <div class="format">
        <%= radio_button_tag 'format_product_id',
                             format_product.id,
                             format_product.checked %>
        <%= label_tag "format_product_#{format_product.id}",
                      sanitize("#{title} (#{number_to_currency(format_product.price, unit: '&pound; ')})") %>
      </div>
    <% end %>

    <%= button_tag '+ ADD TO CART', class: 'buy_button' %>
  <% end %>
</div>

<div id="product_songs">
  <% first_song = @product.songs.first.id %>

  <audio controls="none" preload="none" id="player">
    <source src="<%= path_to_audio("#{first_song}.mp3") %>" type="audio/mpeg" />
    <source src="<%= path_to_audio("#{first_song}.ogg") %>" type="audio/ogg" />
    xxxx
  </audio>

  <div>
    <table id="song_listing">
    <tr>
      <th colspan="6">
        Track samples (<%= pluralize(@product.song_count, 'track') %>):
      </th>
    </tr>
    <tr>
      <td colspan="6">
        Click the buttons below to hear a 30 second sound sample of each track
      </td>
    </tr>
    <% @product.songs.order(:title).in_groups(3).transpose.each do |song_group| %>
      <tr>
      <% song_group.each do |song| %>
      <td>
        <% if song %>
          <%= button_tag('Play',
                         type: 'button',
                         'data-ogg' => path_to_audio("#{song.id}.ogg"),
                         'data-mp3' => path_to_audio("#{song.id}.mp3"),
                         'data-playing' => 'n',
                          class: 'play_button') do
                  image_tag asset_path('control-play.gif')
               end %>
          <% end %>
        </td>
        <td>
        <%= song.title if song %>

      </td>
      <% end %>
      </tr>
    <% end %>
    </table>
  </div>
</div>
