<h1>Store#index</h1>
<%= root_url %>
<table class="">
  <% @products.each do |product| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td>
      <h3><%= product.title %></h3>
      <p>
        <%= product.description.truncate(120, separator: ' ') %>
        <%= link_to '(more)', product %>
      </p>
      <p>
        <b>Songs include:</b>
        <%= product.song_sample %>
        <%= link_to '(full listing)', product %>
      </p>
    </td>
  </tr>
  <% end %>
</table>
