!!! 5
%html
  %head
    - if Rails.env.production?
      %meta{name: 'google-site-verification',
            content: 'NBtrWI1FpSv7fDLZ5xNKQY6bu2vjY9fwWzDSiPLooXY'}
    %title Music Bee #{' - ' + @title unless @title == nil}
    = stylesheet_link_tag    "application", media:  "all"
    = javascript_include_tag "application"
    = favicon_link_tag
    = csrf_meta_tags
    = render partial: 'layouts/ga' if Rails.env.production?

  %body{class: controller.controller_name}
    %div
      %header
        %h1
          MUSIC BEE
        %nav
          %ul
            %li= link_to_unless_current 'Home', root_path
            %li|
            %li= link_to_unless_current 'Samples', samples_path
            %li|
            %li= link_to_unless_current 'CD Contents', contents_path
            %li|
            %li= link_to_unless_current 'Order Form', order_form_path
            %li|
            %li= link_to_unless_current 'Contact Us', contact_path
      %aside
        %canvas#canvas{width: 310, height: 500}
      %section
        = yield

      %footer Copyright © 2008 Music Bee

      - if notice
        %div#notice
          %div #{notice}
