!!! 5
%html
  %head
    %title Music Bee #{' - ' + @title unless @title == nil}
    = stylesheet_link_tag    "application", media:  "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{class: controller.controller_name}
    %div
      %header
        MUSIC BEE
        %nav
          = link_to_unless_current 'Home', root_path
          %span.separator  |
          = link_to_unless_current 'Samples', samples_path
          %span.separator  |
          = link_to_unless_current 'CD Contents', contents_path
          %span.separator  |
          = link_to_unless_current 'Order Form', order_form_path
          %span.separator  |
          = link_to_unless_current 'Contact Us', contact_path

      %aside
        %canvas#canvas{width: 310, height: 500}
      %section
        = yield

      %footer Copyright © 2008 Music Bee

      - if notice
        %div#notice
          %div #{notice}
