<!DOCTYPE html>
<html>
<head>
  <title>Musicbee</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<div>
<header>M U S I C   B E E</header>
<nav>NAV AREAR</nav>
<%= yield %>
<footer>FOOTER</footer>
</div>


</body>
</html>
