<!DOCTYPE html>
<html>
<head>
  <title>Music Bee<%= ' - ' + @title unless @title == nil %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<div>
<header>
 <canvas id="canvas_header" width="950" height="200"></canvas>
  <nav>
    <%= link_to_unless_current "Home/Store", root_path %>
    <span class="separator"> | </span>
    <%= link_to_unless_current "About Us", about_path %>
  </nav>
</header>
<aside>
<div id="cart">
  <%= render @cart %>
</div>

</aside>
<section>
  <%= yield %>
</section>
<footer>Copyright © 2008 Music Bee</footer>
</div>
 <div id="notice">
    <div><%= notice %></div>
  </div>
<% if notice %>

<% end %>
</body>
</html>
