<!DOCTYPE html>
<html>
<head>
  <title>Musicbee</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<div>
<header>M U S I C   B E E</header>
<nav>
  <div>
    <%= link_to_unless_current "Home/Store", root_path %>
    <span class="separator"> | </span>
    <%= link_to_unless_current "About", about_path %>
  </div>
</nav>
<aside>
Shopping Cart
</aside>
<section>
  <%= yield %>
</section>
<footer>Copyright © 2008 Music Bee</footer>
</div>
<% if notice %>
  <div id="notice">
    <div><%= notice %></div>
  </div>
<% end %>
</body>
</html>
